yc_cloud_id                 = "b1gxxxxxxxxxxxxxxxx"
yc_folder_id                = "b1gxxxxxxxxxxxxxxxx"
yc_service_account_key_file = "../keys/sa-key.json"
ssh_public_key_path         = "~/.ssh/id_rsa.pub"

vm_preemptible = false
